body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 30px;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 8rem;
    letter-spacing: 3rem;
    font-weight: 400;
    animation: fadein 0.5s;
    backface-visibility: hidden;
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: 2rem;
    text-align: center;
    animation: scalein 0.5s 0.7s;
    animation-fill-mode: both;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 7rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
